@font-face {
    font-family: 'sf-pro-display-b';
    src: url(font/sf-pro-display/SF-Pro-Display-Bold.otf);
}
@font-face {
    font-family: 'sf-pro-display-md';
    src: url(font/sf-pro-display/SF-Pro-Display-Medium.otf);
}

:root{
    --clr-primary: #C5FF75;
    --clr-dark: #121212;
    --clr-gray: #818181;
    --clr-blue: #92B8FF;
    --clr-blue-light: #0988FF;
    --font-bold : 'sf-pro-display-b';
    --font-medium : 'sf-pro-display-md';
}
*{
    transition: .75s;
    font-family: var(--font-bold);
}
section{
    height: 100dvh;
    align-content: center;
}
.text-secondary{
    font-family: var(--font-medium);
}
nav{
    background-color: white;
}
.navbar-brand > img{
    width: 10rem;
}
.nav-link{
    font-weight: 500;
    color: gray;
    position: relative;
}
@media  (min-width: 990px) {
    .nav-link::before{
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: var(--clr-primary);
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        visibility: hidden;
        transition: .3s ease-in-out;
    }
    .nav-link:hover::before,
    .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}
.btn-aksebilitas:hover{
    background-color: var(--clr-primary);
}
.btn{
    border: 2px solid var(--clr-dark);
    font-family: var(--font-medium);
}
.btn-green{
    border: 2px solid var(--clr-dark);
    background-color: var(--clr-primary);
}
.btn-green:hover{
    border: 1px solid black;
    background-color: var(--clr-dark);
    color: white;
}
.btn-refresh{
    border: 1px solid var(--clr-blue);
    color: white;
    background-color: var(--clr-blue);
}
#beranda .btn,
#lso .btn{
    border: 1px solid var(--clr-dark);
    width: 50%;
    background-color: var(--clr-blue);
}
.input-group{
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
}
.input-group-text{
    background-color: var(--clr-primary);
}
.form-control{
    font-family: var(--font-medium);
    background-color: white;
}
.card i{
    transform: translateY(2px);
}
@media (max-width: 990px) {
    #artikel .card img{
        display: none;
    }
}
.card:hover{
    background-color: var(--clr-primary);
}
.running-text{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: var(--clr-blue-light);
    color: white;
    padding: 6px;
    font-weight: 500;
}
.running-text p{
    margin-top: 10px;
    display: inline-flex;
    padding-left: 10%;
    animation: runing 10s linear infinite;
}
@keyframes runing {
    0%{ transform: translateX(0);}
    100%{ transform: translateX(-100%);}
}
.accordion-item{
    margin-bottom: 20px;
}
footer{
    background-color: var(--clr-primary);
}
.group-toup{
    align-content: center;
}
.toup{
    margin: 20px;
    font-size: 30px;
    float: right;
    background-color: var(--clr-primary);
}
.toup:hover{
    background-color: var(--clr-dark);
    color: white;
}
